## name: AstroDark
## author: AstroNvim
## upstream: https://github.com/AstroNvim/astrotheme/raw/main/extras/ghostty/astrodark.config

background = #1A1D23
foreground= #ADB0BB
selection-foreground= #ADB0BB
selection-background = #26343F

# Colors can be changed by setting the 16 colors of `palette`, which each color
# being defined as regular and bold.
#
# black
palette = 0=#111317
palette = 8=#34363A
# red
palette = 1=#FF838B       
palette = 9=#FFA6AE
# green
palette = 2=#87C05F
palette = 10=#AAE382
# yellow
palette = 3=#DFAB25
palette = 11=#FFCE48
# blue
palette = 4=#5EB7FF
palette = 12=#81DAFF
# purple
palette = 5=#DD97F1
palette = 13=#FFBAFF
# aqua
palette = 6=#4AC2B8
palette = 14=#6DE5DB
# white
palette = 7=#9B9FA9
palette = 15=#D0D3DE
