## name: AstroJupiter
## author: AstroNvim
## upstream: https://github.com/AstroNvim/astrotheme/raw/main/extras/ghostty/astrojupiter.config

background = #FEEEEE
foreground= #815654
selection-foreground= #815654
selection-background = #BBC9D7

# Colors can be changed by setting the 16 colors of `palette`, which each color
# being defined as regular and bold.
#
# black
palette = 0=#D8D6D5
palette = 8=#B0AEAD
# red
palette = 1=#A13F37       
palette = 9=#C9675F
# green
palette = 2=#467118
palette = 10=#6E9940
# yellow
palette = 3=#805C00
palette = 11=#A88428
# blue
palette = 4=#006E89
palette = 12=#2896B1
# purple
palette = 5=#90437A
palette = 13=#B86BA2
# aqua
palette = 6=#007652
palette = 14=#289E7A
# white
palette = 7=#9E7876
palette = 15=#8B605E
