## name: AstroMars
## author: AstroNvim
## upstream: https://github.com/AstroNvim/astrotheme/raw/main/extras/ghostty/astromars.config

background = #1E1517
foreground= #A5B2BC
selection-foreground= #A5B2BC
selection-background = #1B282C

# Colors can be changed by setting the 16 colors of `palette`, which each color
# being defined as regular and bold.
#
# black
palette = 0=#281E22
palette = 8=#41383A
# red
palette = 1=#DF8489       
palette = 9=#FFA7AC
# green
palette = 2=#84A860
palette = 10=#A7CB83
# yellow
palette = 3=#C3963D
palette = 11=#E6B960
# blue
palette = 4=#4FA9C6
palette = 12=#72CCE9
# purple
palette = 5=#CD87BA
palette = 13=#F0AADD
# aqua
palette = 6=#4FAD97
palette = 14=#72D0BA
# white
palette = 7=#8B7079
palette = 15=#C8D5DF
