## name: AstroLight
## author: AstroNvim
## upstream: https://github.com/AstroNvim/astrotheme/raw/main/extras/ghostty/astrolight.config

background = #F7F8F8
foreground= #4F4F4F
selection-foreground= #4F4F4F
selection-background = #E7E9EB

# Colors can be changed by setting the 16 colors of `palette`, which each color
# being defined as regular and bold.
#
# black
palette = 0=#E1E2E4
palette = 8=#B9BABC
# red
palette = 1=#990000       
palette = 9=#C12828
# green
palette = 2=#345E00
palette = 10=#5C8628
# yellow
palette = 3=#7300B8
palette = 11=#9B28E0
# blue
palette = 4=#00508A
palette = 12=#2878B2
# purple
palette = 5=#9E007C
palette = 13=#C628A4
# aqua
palette = 6=#00615B
palette = 14=#288983
# white
palette = 7=#737474
palette = 15=#595959
