/* ${_style_name} MonkeyType Colors */
/* Apply the theme easily with the link below
 * https://monkeytype.com?customTheme=eyJjIjpbIiNGRUVFRUUiLCIjRDA0RjRFIiwiIzlFNzg3NiIsIiM5MzdDN0EiLCIjRjlEQ0QxIiwiIzgxNTY1NCIsIiNBMTNGMzciLCIjRDA0RjRFIiwiI0ExM0YzNyIsIiNEMDRGNEUiXX0=
 */
:root {
    --bg-color: #FEEEEE;
    --main-color: #D04F4E;
    --caret-color: #9E7876;
    --sub-color: #937C7A;
    --sub-alt-color: #F9DCD1;
    --text-color: #815654;
    --error-color: #A13F37;
    --error-extra-color: #D04F4E;
    --colorful-error-color: #A13F37;
    --colorful-error-extra-color: #D04F4E;
   }
