/* ${_style_name} MonkeyType Colors */
/* Apply the theme easily with the link below
 * https://monkeytype.com?customTheme=eyJjIjpbIiNGN0Y4RjgiLCIjNjcxRkYwIiwiIzczNzQ3NCIsIiM4QjkyOTciLCIjRUFFQkVCIiwiIzRGNEY0RiIsIiM5OTAwMDAiLCIjRTcyRjFGIiwiIzk5MDAwMCIsIiNFNzJGMUYiXX0=
 */
:root {
    --bg-color: #F7F8F8;
    --main-color: #671FF0;
    --caret-color: #737474;
    --sub-color: #8B9297;
    --sub-alt-color: #EAEBEB;
    --text-color: #4F4F4F;
    --error-color: #990000;
    --error-extra-color: #E72F1F;
    --colorful-error-color: #990000;
    --colorful-error-extra-color: #E72F1F;
   }
