/* ${_style_name} MonkeyType Colors */
/* Apply the theme easily with the link below
 * https://monkeytype.com?customTheme=eyJjIjpbIiMxRTE1MTciLCIjOUNCREM5IiwiIzhCNzA3OSIsIiM2MzY0NkEiLCIjMUExMTEzIiwiI0E1QjJCQyIsIiNERjg0ODkiLCIjRTc3Nzc3IiwiI0RGODQ4OSIsIiNFNzc3NzciXX0=
 */
:root {
    --bg-color: #1E1517;
    --main-color: #9CBDC9;
    --caret-color: #8B7079;
    --sub-color: #63646A;
    --sub-alt-color: #1A1113;
    --text-color: #A5B2BC;
    --error-color: #DF8489;
    --error-extra-color: #E77777;
    --colorful-error-color: #DF8489;
    --colorful-error-extra-color: #E77777;
   }
